- extends 'base.jade'
- load cms_tags menu_tags

block content
{% raw %}
  nav.navbar.navbar-light.bg-faded
    button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#exCollapsingNavbar2") &#9776;
    .collapse.navbar-toggleable-xs#exCollapsingNavbar2
      a.navbar-brand(href="#"){% endraw %} {{cookiecutter.project_name}} {% raw %}
      ul.nav.navbar-nav
        {% show_menu 0 2 100 100 "partials/_menu_bootstrap.jade" %}

  .container
    .row
      .col-sm-12
        - placeholder content
{% endraw %}
