- extends 'base.jade'
- load cms_tags menu_tags

block content

{% raw %}
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        // Title
        span.mdl-layout-title ART
        // Add spacer, to align navigation to the right
        .mdl-layout-spacer
        // Navigation. We hide it in small screens.
        nav.mdl-navigation.mdl-layout--large-screen-only
          {% show_menu 0 2 100 100 "partials/_menu_md_lite.jade" %}

    .mdl-layout__drawer
      span.mdl-layout-title ART
      nav.mdl-navigation
        {% show_menu 0 2 100 100 "partials/_menu_md_lite.jade" %}

    main.mdl-layout__content
      .page-content.content-grid.mdl-grid
        .mdl-cell.mdl-cell--12-col
          - placeholder content
{% endraw %}
