appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Django==1.9.5
django-classy-tags==0.7.2
django-cms==3.2.5
django-formtools==1.0
django-sekizai==0.9.0
django-treebeard==4.0
djangocms-admin-style==1.1.1
djangocms-text-ckeditor==2.9.3
gnureadline==6.3.3
html5lib==0.9999999
ipdb==0.9.3
ipython==4.2.0
ipython-genutils==0.1.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
ptyprocess==0.5.1
pyjade==4.0.0
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
uWSGI==2.0.12
dj-database-url==0.4.1
psycopg2==2.6.1
