- load staticfiles cms_tags sekizai_tags

doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title {{cookiecutter.project_name}}

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.grey-red.min.css")

    - render_block "css"

    {% raw %}
    link(href="{% static 'css/styles.css' %}" rel="stylesheet")
    {% endraw %}

  body
    - cms_toolbar
    block content

    script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")

    script(defer, src="https://code.getmdl.io/1.1.3/material.min.js")

    - render_block "js"
